[Unit]
Description=VPN Route Watchdog
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
ExecStart=/usr/bin/python3 /storage/.kodi/addons/service.wireguard.manager/resources/lib/service.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
